In [ ]:
# 1.1 - Calculate the average weekly hours worked among men and women.
from google.colab import files
uploaded = files.upload()

Saving person_level_data.csv to person_level_data (1).csv

In [ ]:
import pandas as pd
import io
person = pd.read_csv(io.BytesIO(uploaded['person_level_data.csv']))
person.head()

   person_id  age citizen_status  ... uninsured  household_id hh_income_pct
0         10   62  citizen_birth  ...         0             5      0.389078
1         11   65  citizen_birth  ...         0             5      0.610922
2         15   70  citizen_birth  ...         0             9      0.735381
3         16   70  citizen_birth  ...         0             9      0.264619
4         43   75  citizen_birth  ...         0            22      0.250230

[5 rows x 21 columns]

In [ ]:
# 1.1
person['weekly_hours_worked'].mean()

25.076192390812686

In [ ]:
# 1.2 - List the three households (i.e. household_ids) with the highest per person incomes. 
uploaded = files.upload()

Saving household_level_data.csv to household_level_data (1).csv

In [ ]:
hh = pd.read_csv(io.BytesIO(uploaded['household_level_data.csv']))
hh.head()

   household_id      variable    value
0             5     hh_income  90334.0
1             5       hh_size      2.0
2             5  num_children      0.0
3             9     hh_income  66216.0
4             9       hh_size      2.0

In [ ]:
pt = pd.pivot_table(hh, values='value', index=['household_id'],
                    columns=['variable'])
pt['ratio'] = pt.hh_income / pt.hh_size
pt.head()

variable      hh_income  hh_size  num_children         ratio
household_id
5               90334.0      2.0           0.0  45167.000000
9               66216.0      2.0           0.0  33108.000000
22              84614.0      3.0           0.0  28204.666667
31              60285.0      2.0           0.0  30142.500000
35              29392.0      1.0           0.0  29392.000000

In [ ]:
# 1.2
pt['ratio'].nlargest(3)

household_id
38870    840245.0
24934    557703.5
10110    554685.5
Name: ratio, dtype: float64

In [ ]:
# 1.3 - List the three individuals (i.e. person_ids) with the highest personal income, and the dollar amounts of their personal incomes.
ppl_hh = pd.merge(person, hh, how="left", on=["household_id"])
ppl_hh.head()

   person_id  age citizen_status  ... hh_income_pct      variable    value
0         10   62  citizen_birth  ...      0.389078     hh_income  90334.0
1         10   62  citizen_birth  ...      0.389078       hh_size      2.0
2         10   62  citizen_birth  ...      0.389078  num_children      0.0
3         11   65  citizen_birth  ...      0.610922     hh_income  90334.0
4         11   65  citizen_birth  ...      0.610922       hh_size      2.0

[5 rows x 23 columns]

In [ ]:
# 1.3
pvt = pd.pivot_table(ppl_hh, values=['value'], index=['person_id'],
                    columns=['variable'])
pvt['hh_income_pct'] = ppl_hh['hh_income_pct'].astype(float)
pvt['pct'] = pvt.value.hh_income * pvt.hh_income_pct
pvt['pct'].nlargest(3)

person_id
23355    1.103901e+06
25896    9.875856e+05
32220    7.494498e+05
Name: pct, dtype: float64

In [ ]:
# 1.4 - Calculate the 80th percentile of age among people in each of the five marital categories.
person.head()

   person_id  age citizen_status  ... uninsured  household_id hh_income_pct
0         10   62  citizen_birth  ...         0             5      0.389078
1         11   65  citizen_birth  ...         0             5      0.610922
2         15   70  citizen_birth  ...         0             9      0.735381
3         16   70  citizen_birth  ...         0             9      0.264619
4         43   75  citizen_birth  ...         0            22      0.250230

[5 rows x 21 columns]

In [ ]:
four = person
four = four[four.marital_status != 'never_married']
four.age.quantile(.8)

69.0